
.flag {
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  img {
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 970px) {
  .flag-container {
    height: 24rem;
    overflow: hidden;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .flag-container {
    height: 14rem;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .flag-container {
    height: 18rem;
    overflow: hidden;
  }
}

#album {
  background-color: #f7f7f7;
}

.button-sec {
  text-align: center;
  padding: 2rem 0;
}

.btn {
  margin: 0 1rem;
}

#page-index {
  font-size: 1.75rem;
  font-weight: 300;
}

.flag-row {
  background-color: white;
  padding: 1.5rem;
  margin: 2rem 0;
}

#top-area {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background-color: #fff;
  text-align: center;
}

#top-area .container {
  max-width: 80rem;
}

#top-heading {
  font-weight: 300;
}

#top-text {
  font-weight: 300;
  font-size: 2rem;
  color: #818a91;
}

footer {
  padding: 2rem 0;
  color: #818a91;
  text-align: center;
}
